html {
  scroll-behavior: smooth;
}
.line{
	padding-bottom: 10px;
	padding-top: 10px;
}
.center-title{
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
}
.center{
	margin-right: auto;
	margin-left: auto;
	display: block;
}
button{
	padding-left: 2px;
	padding-right:2px;
}
li{
	font-size: 24px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
img{
	vertical-align: none;
}
.screen{
  	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
}
.every-element{
	padding-bottom: 3rem;
	padding-top: 3rem;
}
.choice-button{
	margin-left: 1rem;
	margin-right: 1rem;
}
.vertical-auto{
	position: absolute;
	top: 40%;
	}
.white-text{
	color: white;
}
p{
	font-size: 22px;
}
.inline{
	display: flex;
}
.list{
	padding-bottom: 24px; 
	padding-top: 24px;
	font-size: 20px;
}
 .scale {
    display: inline-block; 
    overflow: hidden; 
}
.scale img {
	transition: 1s;
}
.scale img:hover {
    transform: scale(1.2);
   }
